/* add all the default styles to support all the tags that can be used in a blog */

$secondary-color: #ed4a4a;
$primary-color: #0e1630;

html,
body {
    background-color: $primary-color;
}

.blog-content-wrapper {
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }

    h6 {
        font-size: 0.75rem;
        line-height: 0.75rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    a {
        color: $secondary-color;
        text-decoration: none;
    }

    hr {
        margin: 0.7rem 0;
    }

    code {
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        background-color: #d1d0d0;
        padding: 0.1rem 0.4rem;
        border-radius: 0.1rem;
    }

    blockquote {
        line-height: 1.5rem;
        margin-bottom: 1rem;
        border-left: 0.25rem solid #ed4a4a;
        padding-left: 1rem;
        font-style: italic;
    }

    pre {
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        background-color: #d1d0d0;
        padding: 0.1rem 0.4rem;
        border-radius: 0.1rem;
        // italic
    }
}

@media (prefers-color-scheme: dark) {
    .blog-content-wrapper {
        code {
            background-color: lighten(#000, 20%);
        }

        pre {
            background-color: lighten(#000, 20%);
        }
    }
}